GAMARR_API_BASE_URL=http://localhost:5000
GAMARR_PUBLIC_SERVER_URL=http://YOUR-SERVER-HOSTNAME:5000
GAMARR_AGENT_SERVER_URL=http://YOUR-SERVER-HOSTNAME:5000
GAMARR_WEB_HOST=0.0.0.0
ASPNETCORE_URLS=http://0.0.0.0:5000
GAMARR_POSTGRES_CONNECTION=Host=localhost;Port=5432;Database=gamarr;Username=gamarr;Password=gamarr
GAMARR_RABBITMQ_HOST=localhost
GAMARR_RABBITMQ_PORT=5672
GAMARR_RABBITMQ_USERNAME=gamarr
GAMARR_RABBITMQ_PASSWORD=gamarr
GAMARR_SEED_DEMO_DATA=true
